* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-lighter {
  background-color: rgba(0, 0, 0, 0.2);
}

.line-div {
  height: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.vh-75 {
  height: 75vh;
}

.w-15 {
  width: 10%;
}

.error-component {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

@media screen and (min-width: 769px) {
  .w-md-50 {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .w-md-50 {
    width: 100%;
  }
  .mw-50 {
    width: 80%;
  }
}
